<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
	<session-factory name="Riesgos">
		<property name="dialect">
			NHibernate.Dialect.MsSql2005Dialect, NHibernate
		</property>
		<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
		<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
		<property name="adonet.batch_size">100</property>
		<property name="current_session_context_class">call</property>
		<property name="command_timeout">300</property>
		<property name="proxyfactory.factory_class">
			NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate
		</property>
		<property name="connection.connection_string_name">riesgos</property>
		<property name="generate_statistics">true</property>
		<mapping assembly="Vulcano.Engine"></mapping>
	</session-factory>
</hibernate-configuration>
